body{
	background-color: lightblue;
}

select{
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

button{
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

textarea{
	width: auto;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: Arial;
}

button#saveText{
	width: 75px;
	align-content: right;
}